.columns > div {
  display: flex;
  flex-direction: column;
}

/* .columns img {
  width: 100%;
} */

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  max-width: 25%;
  order: 0;
}

/* contains image with person, made round with max width 50%, aligned to the right */
.columns.authors img {
  max-width: 100%;
  border-radius: 50%;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
