footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .section.social-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 1rem;
}

@media (width >= 980px) {
  footer .section.social-container {
    flex-direction: row;
  }
}