.link-group-container + .social-container {
  display: block;
}

.contact-wrapper + .social-wrapper {
  display: none;
}

.block.social {
  display: flex;
  flex-direction: row;
}

.block.social > div > div {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 6px;
}

.block.social > div:first-of-type > div {
  margin-left: 0;
}

.block.social .icon {
  display: flex;
  width: 24px;
  height: 24px;
}

.block.social .icon > img {
  margin: auto;
}

/* footer .block.social {
  padding-top: 32px;
} */

.social a.button:any-link {
  padding: 0;
  border: none;
  margin: 0;
  overflow: visible;
}

.social a.button:any-link:hover {
  background-color: transparent;
}

/* S */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 600px) {
}

/* M */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 900px) {
}

